<div class="container">
    <div class="row">
        <h4>관리자 페이지</h4>
        <div class="row">
            <%= link_to "유저 관리", "/admin/users", :class => 'btn btn-success', 'data-no-turbolink' => true%>
            <%= link_to "하숙집 관리", "/admin/hasuk_houses", :class => 'btn btn-success', 'data-no-turbolink' => true%>
        </div>
    </div>
</div>
