// jQuery for page scrolling feature - requires jQuery Easing plugin

    $(function() {
        $('a.page-scroll').bind('click', function(event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 1500, 'easeInOutExpo');
            event.preventDefault();
        });
    });
    
    var sogang_option = {
      "": "구역 선택",
      "남문(대흥역)": "남문(대흥역)",
    };
    var yonsei_option = {
      "": "구역 선택",
      "정문(신촌역)": "정문(신촌역)",
      "연대서문": "서문",
      "연대남문": "남문",
      "연대동문": "동문",
      "신촌기차역": "신촌기차역"
    };
    var ewha_option = {
      "": "구역 선택",
      "정문(이대역)": "정문(이대역)",
      "신촌기차역": "신촌기차역",
      "이대후문": "후문"
    };
    
    $("#univ_btn").change(function(){
       var optionSelected = $("option:selected", this);
       var valueSelected = this.value;
       
       if (valueSelected == "서강") {
           var $el = $("#section_btn");
            $el.empty(); // remove old options
            
            $.each(sogang_option, function(value,key) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
            });
            
       } else if (valueSelected == "연세") {
           var $el = $("#section_btn");
            $el.empty(); // remove old options
            
            $.each(yonsei_option, function(value,key) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
            });
           
       } else if (valueSelected == "이화") {
           var $el = $("#section_btn");
            $el.empty(); // remove old options
            
            $.each(ewha_option, function(value,key) {
              $el.append($("<option></option>")
                 .attr("value", value).text(key));
            });
       }
    });