
.nav-justified > li > a, .nav-tabs.nav-justified > li > a {
    text-align: center;
    margin-bottom: 0px;
}

body, main {
  background-color:#f5f5f5;
}
.container {
    background-color: #ffffff;
}
.row {
    margin:0;
}

.col-xs-6, .col-xs-12 {
  padding:0;
}


.col-sm-6 {
  padding: 0;
}
.info {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}

.oneline {
    color: #666666; 
}

.hasuk_name {
    font-size: 22px;
    font-weight: 600;
    color:#34495e;
}
.info_list {
    color: #82888a;
}

.price {
  color: #2ecc71;
  font-weight: 600;
  font-size: 22px;
  line-height:1.3;
}

.kok {
    color: #888888;
    font-size: 13px;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ddd;
}

 .sub_circle {
    border-radius: 40%;
    padding-left: 3px;
    padding-right: 3px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 1;
}
    .line_number_2 {
        background: #29c531;
    }
    
    .line_number_6 {
        background: #cd7c2b;
    }
    
    .line_number_kj {
        background: #7bc2a3;
        border-radius: 15%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        font-size: 8px;
        display: inline-block;
    }
    
    .line_number_bus {
        background: #3498DB;
        border-radius: 15%;
        padding:1.5px;
        color: #ffffff;
        text-align: center;
        font-size: 8px;
        display: inline-block;
    }
    
    .bus_circle {
        border-radius: 20%;
        padding-left: 2px;
        padding-right: 2px;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        
    }


@media (max-width: 321px) {

.green {
  margin-left:15px;
}
.info_list {
    padding-top: 3px;
}    


#pictab1{
  display:inline-block;
  width:31.5%;
}
#pictab2{
  display:inline-block;
  width:33%;
  margin-left:0px;
}
#pictab3{
  display:inline-block;
  width:31.5%;
}

.container {
  padding-right:0;
  padding-left:0;
}


.hasuk_name, .oneline {
  padding-left: 15px;
}

}

@media (max-width: 767px) {
.rate_btn {
  border-radius: 0;
}

.all_point {
  width: 140px;
  border-radius:0;
}

.rating-form {
  width: 100%;
}
.rate_description {
   margin-left: 16.66666667%;
   padding-left:30px;
}

.rate_height {
  margin-bottom: 10px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  padding: 0 20px 0 20px;
}

.my_rate{
  padding:15px;
  padding-top:15px;
  padding-right:0px;
  background-color: #ffffff;
}


.info {
  border: 1px solid #dddddd;
}

.info_content {
    font-size: 14px;
    line-height: 2;
}
.info_list {
    font-size: 13px;
    line-height: 2;
}
td {
  font-size: 16px;
}

.col-xs-2 {
  width: 22%;
} 

.col-xs-10 {
    width: 78%;
}

.container {
  background-color:#f5f5f5;
  padding-top:10px;
  margin-bottom: 30px;
}
#pictab1{
  display:inline-block;
  width:31.5%;
  font-size:13px;
}
#pictab2{
  display:inline-block;
  width:33%;
  margin-left:0px;
  font-size:13px;
}
#pictab3{
  display:inline-block;
  width:31.5%;
  font-size:13px;
}
#map {
  height: 200px;
  background-color: #ffffff;
  border: 1px solid #999999;
}


.room {
  width:80px; 
  display:inline-block;
}

.manwon {
    font-size: 12px;
}

.photo {
   margin-top:10px;
}
.photo, .info,#map {
    margin-bottom: 30px;
}

.rate_section {
  margin-top: 15px;  
}

.br-theme-bars-1to10 .br-widget a {
  width: 12px;
}
.left_btn_col {
  border-top:1px solid #dddddd; 
  border-right:1px solid #dddddd;
}  

.right_btn_col {
  border-top:1px solid #dddddd; 
}

.comment {
  padding-left: 15px;
  padding-right:15px;
}
}

@media(min-width:768px) {
#pictab1{
  display:inline-block;
  width:32.5%;
  font-size:14px;
  margin:0;
}
#pictab2{
  display:inline-block;
  width:32.5%;
  font-size:14px;
}
#pictab3{
  display:inline-block;
  width:32.5%;
  font-size:14px;
  margin:0;
}
.comment_section {
  margin-top: 30px;
}
.left_btn_col {
  border-top:1px solid #999999; 
  border-right:1px solid #999999;
}  

.right_btn_col {
  border-top:1px solid #999999; 
}
.all_point {
  width: 140px;
  border-radius:0;
}

.rate_btn {
  border-radius: 0;
}
.rating-form {
  width: 550px;
}
.rate_height {
  margin-bottom:10px;
}
.rate_description {
  text-align: left;  
  padding-left: 50px;
}

.br-theme-bars-1to10 .br-widget a {
  width: 10px;
}

.br-theme-bars-1to10 .br-widget .br-current-rating {
  padding: 0 0 0 15px;
}

.col-sm-2 {
  padding:0;
}

.col-sm-10 {
  padding-left:5px;
}
td {
  font-size: 15px;
}

.my_rate{
  padding:30px;
  padding-top:15px;
  padding-right:0px;
  background-color: #f2f1ed;
  border-radius:15px;
}

.rate_section {
  margin-top: 20px;  
}

.col-xs-4 {
  width: 30%;  
}

.hasuk_name {
  margin-bottom: 5px;
  padding-right: 10px;
}
.price_margin {
    padding-top: 3px;    
}   

.container {
  padding: 60px;
  padding-top:10px;
  width: 920px;
  margin-bottom: 70px;
  
}

.row {
    margin-bottom: 2px;
}
.oneline {
    display: inline-block;
}

.info_content, .info_list {
    font-size: 13px;  
}

.info_list {
  padding-right:0;
}
.room {
  width:58px; 
  display:inline-block;
}

.manwon {
  font-size: 12px;
}

.photo {
  margin-right: 5px;
}

.info {
  margin-left: 5px; 
  border: 1px solid #999999;
  line-height: 1.5;
}

.title {
  position: relative;
}

#map {
  height: 500px; 
  background-color: #ffffff;
  border: 1px solid #999999;
}  

.location {
  margin-top:20px;
}

.table-responsive {
  padding-right:50px;
}

}

@media(min-width: 1200px) {
.rating-form {
  width: 550px;
}
.info_content, .info_list {
    font-size: 14px;  
}
}

.comment {
  border-bottom: 1px solid #eeeeec;
  color: #666666;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color:#ffffff;
}
.info_hr {
  padding:0 15px;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #2ecc71;
    background-color: #ffffff;
}

.nav-tabs.nav-justified{
    border-left: 1px solid #999999;
    border-right:1px solid #999999;
    border-top: 1px solid #999999;
}

.nav-tabs.nav-justified>li>a {
    border-radius: 0;
    border: 0;
    color: #999999;
    background-color:#f5f5f5;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    color: #2ecc71;
    background-color:#ffffff;
    border:0;
}

.tip-label {
  background-color: #ffffff;
  color: #ee8176;
  border-color: #ee8176;
}

.small-photo {
    padding: 10px;
    overflow: hidden;
    background-color: #777777;
}

.img-slider-container {
    height: 65px;
    overflow: hidden;
}

.img-slider-container a {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    cursor: pointer;
}


.img-slider-container a.active img {
    border: 2px solid #fcb514;
}


.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}
#slide-counter {
  position: absolute;
  z-index: 1;
  color: #F1C40F;
  right: 5%;
  margin-top: 10px;
}

.btn-success2:hover {
      color:#fff;
      background-color:#2ecc71;
    }
.btn-success2:focus, .btn-success2 {
    color: #2ecc71;
    background-color: transparent;
    border: none;
}

.btn-danger2, .btn-danger {
  padding-top: 5px;
  padding-bottom:5px;
}

