<style type="text/css">
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color:#27AE60;
    border:1px solid #fff;
    background-color:#ECF0F1;
    border-radius:5px;
  }
  .nav-tabs > li > a:hover{
    border:1px solid #2ECC71;
    background:#2ECC71;
    color:#fff;
    border-radius:5px;
  }
  
  .nav-tabs {
    border:transparent;
  }
  .ui-slider-horizontal .ui-slider-handle{
    background:#ffffff;
    border:1px solid #2ecc71;
    left:2%;
  }
  .ui-slider-range {
    background:#2ecc71;
 
  }
  .ui-slider-segment {
    background-color: #ECF0F1;
    margin-top:5px;
  }
  .ui-slider {
    border-color: #F5F5F5;
    margin-left:10px;
  }  
  
  .col-xs-12 {
    padding: 0;  
  }
  
  #modal-padding {
    padding-right: 5px;  
    padding-left: 5px;
    padding-top: 10px;
  }
  
  .search_btn {
    width: 140px;
  }

 .btn-success {
    border-right: 1px solid #2ecc71;
    border-top: 1px solid #2ecc71;
    border-bottom: 1px solid #2ecc71;
    color: #666666;
    background-color: #ffffff;
  }
  

 #small-device{

  }
  
  #name_search_list a{
    color:#1ABC9C;
  }
  #name_search_list a:hover{
    color:#16A085;
  }
    @media (max-width: 359px) {
      .search_btn {
        width: 120px;
      } 
    }
    
  .li-size {
    width:50%;
  } 
</style>
<div class="modal fade col-md-12 col-sm-12 col-xs-12" id="search">
  <div class="modal-dialog">
    <div class="modal-content col-md-12 col-sm-12 col-xs-12" id="modal-size2" style="background-color:#f5f5f5; padding-left:0px; padding-right:0px">
      
      <div class="modal-body" style="padding: 5px;">
        <div class="panel panel-default col-md-12 col-sm-12 col-xs-12" style="background-color:#f5f5f5;  margin-bottom: 0px;padding-left: 0px;padding-right: 0px; padding-bottom: 15px;">
          <div class="pandel-head" style="padding-left:10px; padding-right:10px;">
            <ul class="nav nav-tabs" id="tabContent">
              <li class="active li-size"><a href="#FindByCondition" data-toggle="tab" class="btn btn-small">조건 검색</a></li>
              <li class="li-size"><a href="#FindByName" data-toggle="tab" class="btn btn-small">이름 검색</a></li>
            </ul>    
          </div>


          <div class="panel-body" style="padding:5px;">
            
            
            <div class="tab-content">
              <div class="tab-pane active" id="FindByCondition">
                <form action="/map/map_detail" method="GET">
                            
                      <input type="hidden" value="<%= @univ %>" name="univ">
                      <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                        <span id="select-title" readonly style="font-size:15px; font-weight:bold;">종류</span>
                        
                       
                        <div class="btn-group btn-group-justified" data-toggle="buttons" style="margin-bottom:10px;">
                          <label id="small-device" class="btn btn-success" style="border-left:1px solid #2ecc71; margin-top:10px">
                              <input type="radio" id="bt1" name="hasuk_kind" value="일반하숙" />일반하숙
                          </label>
                          <label id="small-device" class="btn btn-success" style="margin-top:10px">
                              <input type="radio" id="bt2" name="hasuk_kind" value="잠만 자는 방" />잠만 자는 방
                          </label>
                          <label id="small-device"class="btn btn-success" style="margin-top:10px">
                              <input type="radio" id="bt3" name="hasuk_kind" value="원룸형" />원룸형
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top:10px">
                              <input type="radio" id="bt4" name="hasuk_kind" value="고시원형" />고시원형
                          </label> 
                        </div>
                        
                      </div>
                      <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span id="select-title" readonly style="font-size:15px; font-weight:bold;">성별</span>
                        
                        <div class="btn-group btn-group-justified" data-toggle="buttons" style="margin-bottom:10px;">
                          
                          <label id="small-device" class="btn btn-success" style="border-left:1px solid #2ecc71; margin-top:10px">
                              <input type="radio" id="bt5" name="gender" value="남녀공용" />남녀공용
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top:10px" >
                              <input type="radio"  id="bt6" name="gender" value="남녀층 분리" />남녀층 분리
                          </label>
                          <label id="small-device" class="btn btn-success" style="margin-top:10px">
                              <input type="radio"  id="bt7" name="gender" value="여성전용" />여성전용
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top:10px">
                              <input type="radio" id="bt8" name="gender" value="남성전용" />남성전용
                          </label> 
                        </div>
                      </div>
                      
                      <div id="sliderbox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:5px">
                        <div id="modal-price">
                          <span id="select-title" readonly style="font-size:15px; font-weight:bold;">월세 (단위-만원)</span>
                        </div>
                        <div id="slider3" style="margin-top: 15px;">
                          <span class="ui-slider-value first"></span>
                          <span class="ui-slider-value last"></span>
                          <input type="hidden" name="price_from"  id="price_from">
                          <input type="hidden" name="price_to" id="price_to">
                        </div>
                      </div>
                      
                      <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span id="select-title" readonly style="font-size:15px; font-weight:bold;">구역</span>
                        <div class="btn-group btn-group-justified" data-toggle="buttons" style="margin-bottom:10px;">
                          <% if @univ == "서강" %>
                          <label id="small-device" class="btn btn-success" style="border-left:1px solid #2ecc71; margin-top: 10px;">
                              <input type="radio" id="bt9" name="section" value="남문(대흥역)" /> 남문(대흥역)
                          </label> 
                          
                          <% elsif @univ == "연세" %>
                          <label id="small-device" class="btn btn-success" style="width:26%; border-left:1px solid #2ecc71; margin-top: 10px;">
                              <input type="radio" id="bt9 section_width1" name="section" value="정문(신촌역)" /> 정문(신촌역)
                          </label> 
                          <label id="small-device" class="btn btn-success" style="width:16%;margin-top: 10px;">
                              <input type="radio" id="bt10 section_width2" name="section" value="연대서문" /> 서문
                          </label> 
                          <label id="small-device" class="btn btn-success" style="width:16%;margin-top: 10px;">
                              <input type="radio" id="bt11 section_width2" name="section" value="연대남문" /> 남문
                          </label> 
                          <label id="small-device" class="btn btn-success" style="width:16%; margin-top: 10px;">
                              <input type="radio" id="bt12 section_width2" name="section" value="이대후문" /> 동문
                          </label>
                          <label id="small-device" class="btn btn-success" style="width:26%;margin-top: 10px;">
                              <input type="radio" id="bt13 section_width1" name="section" value="신촌기차역" /> 신촌기차역
                          </label>
            
                          <% elsif @univ == "이화" %>
                          <label id="small-device" class="btn btn-success" style="border-left:1px solid #2ecc71; margin-top: 10px;">
                              <input type="radio" id="bt9" name="section" value="정문(이대역)" /> 정문(이대역)
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                              <input type="radio" id="bt10" name="section" value="신촌기차역" /> 신촌기차역
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                              <input type="radio" id="bt11" name="section" value="이대후문" /> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp후문&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                          </label> 
                          
                          <% end %>
                        </div>
                      </div>
                      <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span id="select-title" readonly style="font-size:15px; font-weight:bold;">도보</span>
                        <div class="btn-group btn-group-justified" data-toggle="buttons" style="margin-bottom:10px; padding-left:0px;padding-right: 0px;">
                          <label id="small-device" class="btn btn-success" style="border-left:1px solid #2ecc71; margin-top: 10px;">
                              <input class="btn btn-default" type="radio" id="bt14" name="distance" value=5 /> 5분 이내
                           </label>
                          <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                              <input type="radio" id="bt15" name="distance" value=10 /> 10분 이내
                          </label> 
                          <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                              <input type="radio" id="bt16" name="distance" value=15 /> 15분 이내
                          </label>   
                          <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                              <input type="radio" id="bt17" name="distance" value=20 /> 20분 이내
                          </label>   
                        </div>
                      </div>
                      <div class="row" style="margin: 0;">
                        <div id="modal-padding" class="col-md-6 col-sm-6 col-xs-6">
                          <button id="out" type="button" style="float:left; color:#ffffff; background-color:#ee8176;" class="search_btn btn btn-md" data-dismiss="modal">취소</button>
                        </div>  
                        <div id="modal-padding" class="col-md-6 col-sm-6 col-xs-6">
                          <input id="search" type="submit" value="검색하기" class="search_btn btn btn-md" style="background-color:#71b7e6; color:#ffffff; float:right">
                        </div>
                      </div>
                      <!--<div style="float:right">
                        <input id="search" type="submit" value="검색하기" class="btn btn-success small-device">
                        <button id="out" type="button" class="btn btn-danger small-device" data-dismiss="modal">취소</button>
                      </div>-->
              
        
                    </form>
                  </div> <!--검색 박스 끝 -->
                    
              <div class="tab-pane" id="FindByName">
                
                <h6 style="font-size:18px; margin-left:10px">하숙집을 이름으로 검색해보세요.</h6>
                  <div class="input-group input-group-rounded" style="margin-top:20px; margin-bottom:20px">
                    <input type="text" class="form-control" placeholder="하숙집 검색" id="search-query-3" style="border-color:#2ECC71;">
                    <span class="input-group-btn">
                      <button id="hasuk_name_find" class="btn" style="border-color:#2ECC71; color:#2ECC71">
                        <span class="fui-search"></span>
                      </button>
                    </span>
                  </div>
                
                <div id="resultTitle" style="margin-left:10px; color:#2ECC71"></div> 
                <ul>
                <div id="name_search_result"></div>  
                </ul>
                <div id="nameLoading"></div>
              </div><!--이름 검색 끝 -->
        
            </div>
            
        </div><!--panel-body-->


      </div><!--panel-->            
    </div><!--modal-body -->
  </div><!-- /.modal-content -->
</div><!--modal-dialog -->
</div>



<script>
      //검색 버튼 누르기 효과 시작
      $(document).ready(function() {
        
        $("#bt1").click(function(){
          $(this).addClass("active");
          $("#bt2").removeClass("active");
          $("#bt3").removeClass("active");
          $("#bt4").removeClass("active");
        });
         $("#bt2").click(function(){
          $(this).addClass("active");
          $("#bt1").removeClass("active");
          $("#bt3").removeClass("active");
          $("#bt4").removeClass("active");
        });
        $("#bt3").click(function(){
          $(this).addClass("active");
          $("#bt1").removeClass("active");
          $("#bt2").removeClass("active");
          $("#bt4").removeClass("active");
        });
        $("#bt4").click(function(){
          $(this).addClass("active");
          $("#bt1").removeClass("active");
          $("#bt2").removeClass("active");
          $("#bt3").removeClass("active");
        });
        $("#bt5").click(function(){
          $(this).addClass("active");
          $("#bt6").removeClass("active");
          $("#bt7").removeClass("active");
          $("#bt8").removeClass("active");
        });
        $("#bt6").click(function(){
          $(this).addClass("active");
          $("#bt5").removeClass("active");
          $("#bt7").removeClass("active");
          $("#bt8").removeClass("active");
        });
        $("#bt7").click(function(){
          $(this).addClass("active");
          $("#bt5").removeClass("active");
          $("#bt6").removeClass("active");
          $("#bt8").removeClass("active");
        });
        $("#bt8").click(function(){
          $(this).addClass("active");
          $("#bt5").removeClass("active");
          $("#bt6").removeClass("active");
          $("#bt7").removeClass("active");
        });
        $("#bt9").click(function(){
          $(this).addClass("active");
          $("#bt10").removeClass("active");
          $("#bt11").removeClass("active");
          $("#bt12").removeClass("active");
          $("#bt13").removeClass("active");
        });
        $("#bt10").click(function(){
          $(this).addClass("active");
          $("#bt9").removeClass("active");
          $("#bt11").removeClass("active");
          $("#bt12").removeClass("active");
          $("#bt13").removeClass("active");
        });
        $("#bt11").click(function(){
          $(this).addClass("active");
          $("#bt9").removeClass("active");
          $("#bt10").removeClass("active");
          $("#bt12").removeClass("active");
          $("#bt13").removeClass("active");
        });
        $("#bt12").click(function(){
          $(this).addClass("active");
          $("#bt9").removeClass("active");
          $("#bt10").removeClass("active");
          $("#bt11").removeClass("active");
          $("#bt13").removeClass("active");
        });
        $("#bt13").click(function(){
          $(this).addClass("active");
          $("#bt9").removeClass("active");
          $("#bt10").removeClass("active");
          $("#bt11").removeClass("active");
          $("#bt12").removeClass("active");
        });
        $("#bt14").click(function(){
          $(this).addClass("active");
          $("#bt15").removeClass("active");
          $("#bt16").removeClass("active");
          $("#bt17").removeClass("active");
        });
        $("#bt15").click(function(){
          $(this).addClass("active");
          $("#bt14").removeClass("active");
          $("#bt16").removeClass("active");
          $("#bt17").removeClass("active");
        });
        $("#bt16").click(function(){
          $(this).addClass("active");
          $("#bt14").removeClass("active");
          $("#bt15").removeClass("active");
          $("#bt17").removeClass("active");
        });
        $("#bt17").click(function(){
          $(this).addClass("active");
          $("#bt14").removeClass("active");
          $("#bt15").removeClass("active");
          $("#bt16").removeClass("active");
        });//검색버튼 누르기 효과 끝
      });

$(document).ready(function(){
  $("#search").click(function(){
    var price_from = $('span.first').text();
    var price_to = $('span.last').text();
    
    $("#price_from").val(price_from);
    $("#price_to").val(price_to);
    
  });
});

$(document).ready(function(){
  $.fn.addSliderSegments = function (amount, orientation) {
  return this.each(function () {
    if (orientation == "vertical") {
      var output = ''
        , i;
      for (i = 1; i <= amount - 2; i++) {
        output += '<div class="ui-slider-segment" style="top:' + 100 / (amount - 1) * i + '%;"></div>';
      };
      $(this).prepend(output);
    } else {
      var segmentGap = 100 / (amount - 1) + "%"
        , segment = '<div class="ui-slider-segment" style="margin-left: ' + segmentGap + ';"></div>';
      $(this).prepend(segment.repeat(amount - 2));
    }
  });
};
   var $slider3 = $("#slider3")
    , slider3ValueMultiplier = 1
    , slider3Options;
  
  if ($slider3.length > 0) {
    $slider3.slider({
      min: 20,
      max: 90,
      step: 10,
      animate: "fast",
      values: [ 20, 90 ],
      orientation: "horizontal",
      range: true,
      slide: function(event, ui) {
        $slider3.find(".ui-slider-value:first")
          .text(ui.values[0] * slider3ValueMultiplier)
          .end()
          .find(".ui-slider-value:last")
          .text(ui.values[1] * slider3ValueMultiplier);
      }
    });
  
    slider3Options = $slider3.slider("option");
    $slider3.addSliderSegments(slider3Options.max)
      .find(".ui-slider-value:first")
      .text(slider3Options.values[0] * slider3ValueMultiplier)
      .end()
      .find(".ui-slider-value:last")
      .text(slider3Options.values[1] * slider3ValueMultiplier);
  }
}); 

  $(document).ready(function(){
    $("#hasuk_name_find").click(function(){
      $(document).ajaxStart(function(){
        if ($("#name_search_result").html != "") {
          $("#name_search_result").html("");
          $("#resultTitle").html("");
        }
        $("#nameLoading").html("<img src='/images/icons/nameSearchLoading.gif' style='width:50px; height:50px; margin-bottom:20px'>");
      }).ajaxStop(function() {
        $("#nameLoading").html("");
      });

      var hasuk_name = $("#search-query-3").val();
          $.ajax({
            url: "/map/mappage",
            type: 'GET',
            data: hasuk_name,
            success: function(data){
                $.get("/map/from_hasuk", function(data){
                  $("#resultTitle").append("검색결과입니다.");
                  var k=0;
                  for (var i = 0; i < data.length; i++){
                    if (data[i].hasuk_name.indexOf(hasuk_name) > -1) {
                      $("#name_search_result").append("<li id='name_search_list' style='font-size:16px; margin-bottom:5px'>" +"<a target='_blank' href='/hasuk_houses/" + data[i].id + "'>" + data[i].hasuk_name + "</a>" + "</li>");
                      k = k+1;
                    }
                  };
                  if (k == 0) {
                  $("#name_search_result").append("<p style='font-size:16px'>" + "찾고 있는 하숙집이 없습니다."+ "<br/>" + "띄어쓰기를 체크해보는 건 어떨까요?" + "</p>");
                  }
                });
                
            }
          });  
            
        
        
    });
  });
</script>