<div class="modal fade col-md-12 col-sm-12 col-xs-12" id="search">
  <div class="modal-dialog">
    <div class="modal-content col-md-12 col-sm-12 col-xs-12" id="modal-size2" style="padding-left:0px; padding-right:0px">
      
      <div class="modal-body" style="padding:5px;">
        <div class="panel panel-default col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;padding-left: 0px;padding-right: 0px;">
          <div class="pandel-head" style="padding-left:15px;">
            <h5 style="margin-bottom:0.2em">하숙방 검색</h5>
          </div>
          <div class="panel-body" style="padding:5px;">
            <form action="/map/map_detail" method="GET">
              
              <input type="hidden" value="<%= @univ %>" name="univ">
              <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span id="select-title" readonly style="font-size:15px; font-weight:bold;">종류</span>
                <div class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio" id="bt1" name="hasuk_kind" value="일반하숙" />일반하숙
                  </label>
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio" id="bt2" name="hasuk_kind" value="잠만 자는 방" />잠만 자는 방
                  </label>
                  <label id="small-device"class="btn btn-success" style="margin-top:10px">
                      <input type="radio" id="bt1" name="hasuk_kind" value="원룸형" />원룸형
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio" id="bt2" name="hasuk_kind" value="고시원형" />고시원형
                  </label> 
                </div>
              </div>
              <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span id="select-title" readonly style="font-size:15px; font-weight:bold;">성별</span>
                
                <div class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
                  
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio" name="gender" value="남녀공용" />남녀공용
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top:10px" >
                      <input type="radio"  name="gender" value="남녀층 분리" />남녀층 분리
                  </label>
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio"  name="gender" value="여성전용" />여성전용
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top:10px">
                      <input type="radio" name="gender" value="남성전용" />남성전용
                  </label> 
                </div>
              </div>
              
              <div id="sliderbox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="modal-price" style="margin-bottom:5px;">
                  <span id="select-title" readonly style="font-size:15px; font-weight:bold;">월세 (단위 - 만 원)</span>
                </div>
                <div id="slider3" style="margin-top: 15px;">
                  <span class="ui-slider-value first"></span>
                  <span class="ui-slider-value last"></span>
                  <input type="hidden" name="price_from"  id="price_from">
                  <input type="hidden" name="price_to" id="price_to">
                </div>
              </div>
              
              <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span id="select-title" readonly style="font-size:15px; font-weight:bold;">구역</span>
                <div class="btn-group" data-toggle="buttons" style="margin-bottom:10px;">
                  <% if @univ == "서강" %>
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt3"name="section" value="서강대남문" /> 남문(대흥역)
                  </label> 
                  
                  <% elsif @univ == "연세" %>
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt4" name="section" value="연세대정문" /> 정문(신촌역)
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt5" name="section" value="연세대서문" /> 서문
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt6" name="section" value="연세대남문" /> 남문
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt7" name="section" value="연세대동문" /> 동문
                  </label>
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt8" name="section" value="신촌기차역" /> 신촌기차역
                  </label>
    
                  <% elsif @univ == "이화" %>
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt4" name="section" value="이화여대정문" /> 정문(이대역)
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt5" name="section" value="신촌기차역" /> 신촌기차역
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt6" name="section" value="이화여대후문" /> 후문
                  </label> 
                  
                  <% end %>
                </div>
              </div>
              <div id="typebox" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span id="select-title" readonly style="font-size:15px; font-weight:bold;">도보 거리</span>
                <div class="btn-group" data-toggle="buttons" style="margin-bottom:10px; padding-left:0px;padding-right: 0px;">
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input class="btn btn-default" type="radio" id="bt8" name="distance" value=5 /> 5분 이내
                   </label>
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt8" name="distance" value=10 /> 10분 이내
                  </label> 
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt9" name="distance" value=15 /> 15분 이내
                  </label>   
                  <label id="small-device" class="btn btn-success" style="margin-top: 10px;">
                      <input type="radio" id="bt10" name="distance" value=20 /> 20분 이내
                  </label>   
                </div>
              </div>
              <div style="float:right">
                <input id="search" type="submit" value="검색하기" class="btn btn-info small-device">
                <button id="out" type="button" class="btn btn-danger small-device" data-dismiss="modal">취소</button>
              </div>
          </div>
        </div>

    </div> <!--검색 박스 끝 -->
      
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal2 -->
<script>
  $(document).ready(function(){
    $("#search").click(function(){
      var price_from = $('span.first').text();
      var price_to = $('span.last').text();
      
      $("#price_from").val(price_from);
      $("#price_to").val(price_to);
      
    });
  });
 
</script>